/* @media (max-width: 768px) {
  .auth-container {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .auth-container {
    width: 30%;
  }
} */

/* Extra Small devices (phones, 600px and down) */
@media (max-width: 600px) {
  .auth-container {
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {
  .auth-container {
    width: 90%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
  .auth-container {
    width: 70%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
  .auth-container {
    width: 80%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
  .auth-container {
    width: 60%;
  }
}




.custom-btn {
  width: 50%; /* Increase button width to fill the container */
  border-radius: 50px; /* Make the button rounder */
}

@media screen and (max-width: 768px) {
  .img-fluid {
    max-width: 50%;
  }
}

/* styles.css */
.custom-close .btn-close svg {
  fill: white;
}

